body {
  font-family: sans-serif;
  background-color: #65b689;
  color: #301c61;
  text-align: center;
}

.topbar {
  background-color: #ffffff;
  background: linear-gradient(#3ce276, #a0ddc4);
  height: 30%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.progressContainer {
  background-color: #301c61;
  width: 50%;
  margin: auto;
  height: 23.5px;
}

.gameProgress {
  text-align: right;
  color: #fff;
  background-color: #bdf752;
  padding: 1.5px 1.5px;
  height: 22px;
}
.progressContainer,
.gameProgress {
  border-radius: 4px;
}

.button1 {
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
  padding: 14px 40px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: white;
  color: #4caf50;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.24), 0 15px 40px 0 rgba(0, 0, 0, 0.19);
}

.buttonD {
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
  padding: 14px 40px;
  border-radius: 4px;
  opacity: 0.6;
  cursor: not-allowed;
}

/* 1. The board should have collapsed 
and 1px solid black border */
table {
  text-align: center;
  border-collapse: collapse;
  min-height: 200px;
}

td {
  border: 1px solid #000000;
  /* 2. Board cell should have size 60px x 60 px */
  height: 60px;
  width: 60px;
  /* 3. Board cell should have text aligned to the center*/
  text-align: center;
}

/* 4. Cells with first player’s marks should have symbols ‘x’ 
and have background colored with the color described by 
RGB code 124, 252, 0; */
.x {
  background-color: rgb(124, 252, 0);
  font-size: 30px;
  font-family: Helvetica;
}
/* 5. Cells with second player’s marks should have symbols ‘o’ 
and have background colored with the color described by 
RGB code 250, 128, 114; */
.o {
  background-color: rgb(250, 128, 114);
  font-size: 30px;
  font-family: Helvetica;
}
.neutral {
  background-color: #a0ddc4;
}
h1 {
  font-family: trebuchet ms;
  color: rgb(6, 131, 83);
  font-size: 24px;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #fff;
  text-align: center;
}
h2 {
  font-family: trebuchet ms;
  color: rgb(6, 131, 83);
  font-size: 18px;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-align: center;
}
h3 {
  font-family: trebuchet ms;
  color: rgb(206, 113, 103);
  font-size: 20px;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgb(253, 215, 215);
  text-align: center;
}
